hr {
	clear: both;
}

.page-header {
    padding-left: 48px;
    background: url(icon48.png) no-repeat left top;
}

.header {
    position: relative;
}
#admin {
    position: absolute;
    right: 20px;
    top: 20px;
}
#logo {
    float: left;
}
.treecontainer {
	margin: 10px;
    padding: 10px;
	float: left;
}
.node {
    color: black;
    /*vertical-align: middle;*/
    /*line-height: 100%;*/
    text-align: center;
    white-space: nowrap;
    position: relative;
}
.node:hover {
}

.node .wrapper {
    overflow: hidden;
}
.node .node_tabs {
}
.node .node_tab {
    position: absolute;
    height: 24px;
    top: 0px;
    left: 8px;
    display: inline-block;
    max-width: 160px;
    min-width: 100px;
    overflow: hidden;
    border: 2px solid #c6c6c6;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
    background-color: white;
    text-align: left;
    z-index: 42;
    padding: 0 6px 0 6px;
}
.node .node_tabs a {
    margin-right: 4px;
    overflow: hidden;
}
.node .node_content {
    position: absolute;
    top: 24px;
    bottom: -4px;
    width: 196px;
    border: 2px solid #c6c6c6;
    border-radius: 8px;
    background-color: white;
    z-index: 1;
}
.node:hover .node_content {
    border-color: #666666;
}
.node:hover .node_tab {
    border-color: #666666;
}
.node .body {
    width: 196px;
    height: 160px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
}
.node img {
    border: 0;
    padding: 0;
    margin: auto;
    top: 0; bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.node .thumbnail {
    max-width: 180px;
    max-height: 180px;
}
.node .favicon {
    max-width: 180px; max-height: 180px; border: 0;
}

.node a {


}
.node .time {
    text-align: left;
    color: gray;
    position: absolute;
    bottom: 0;
    right: 4px;
}
.node .query a {
    color: black;
    font-weight: bold;
}

.details {
}
.clear {
    clear: both;
}
.hour {
    border-top: 2px solid #c6c6c6;
}
.row0 {
    background-color: whitesmoke;

}
.row1 {
    background-color: ghostwhite;

}
.hourlabel {
    border: 2px solid #c6c6c6;
    background-color: white;
    padding: 2px;
}
