hr {
	clear: both;
}

.page-header {
    padding-left: 48px;
    background: url(icon48.png) no-repeat left top;
}

.header {
    position: relative;
}
#admin {
    position: absolute;
    right: 20px;
    top: 20px;
}
#logo {
    float: left;
}
.treecontainer {
	margin: 10px;
    padding: 10px;
	float: left;
}
.node {
    color: black;
    /*vertical-align: middle;*/
    /*line-height: 100%;*/
    text-align: center;
    white-space: nowrap;
    padding: 4px;
    background-color: #f5f5f5;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    position: relative;
}
.node:hover {
    background-color: white;
}

.node .wrapper {
    overflow: hidden;
}

.node .body {
    width: 180px;
    height: 170px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 100%;
    margin-bottom: 10px;
}
.node img {
    border: 0;
    padding: 0;
    margin: auto;
    top: 0; bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.node .thumbnail {
    max-width: 180px;
    max-height: 180px;
}
.node .favicon {
    max-width: 180px; max-height: 180px; border: 0;
}

.node a {


}
.node .time {
    text-align: left;
    color: gray;
    position: absolute;
    bottom: 0;
    right: 0;
}
.node .query a {
    color: black;
    font-weight: bold;
}

.details {
}
.clear {
    clear: both;
}
.hour {
    border-top: 2px solid #c6c6c6;
}
.row0 {
    background-color: #f5f5f5;

}
.row1 {
    background-color: white;

}
.hourlabel {
    border: 2px solid #c6c6c6;
    background-color: white;
    padding: 2px;
}
