hr {
	clear: both;
}

.treecontainer {
	margin: 10px;
	border: 1px solid silver;
	border-radius: 10px;
    padding: 10px;
	float: left;
}
.node {
    overflow: hidden;
    /*vertical-align: middle;*/
    /*line-height: 100%;*/
    text-align: center;
    white-space: nowrap;
    padding: 4px;
    background-color: #f5f5f5;
    border: 2px solid #c6c6c6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node:hover {
    background-color: #c6c6c6;
}

.node img {
    max-width: 32px; max-height: 32px; border: 0;
    float: left;
    margin: 4px;
}

.node a {


}
.node .time {
    text-align: left;
    color: gray;
}
.node .query a {
    color: black;
    font-weight: bold;
}

.details {
}
